body {
    background-color:rgb(223, 214, 189);
}

li { 
  list-style-type: none;
  color: navy;
  display: inline-block;
  font-family: Georgia, serif;
}

header {
font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    padding: 35px;
    text-align: center;
    background-color:  hsl(41, 88%, 37%);
}

h2,h3,h4{
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
} 

p {
     max-width: 40%; /* paragraph never gets wider than 60% of the screen */
margin: 0 auto; /* centers it horizontally */
background-color: hsl(41, 89%, 44%);
}

img {
image-orientation: center;
}

h3 {
      max-width: 50%; /* paragraph never gets wider than 60% of the screen */
margin: 0 auto; /* centers it horizontally */
}

footer {
    border: 1px solid black;
    background-color:hsl(41, 88%, 37%);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
    position: fixed;
    border-radius: 25px;
    bottom: 0;
    width: 100%;
}

.footer-content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
   
}

.footer-content p {
    margin: 5px 0;
}

.footer-content {
    font-weight: bold;
}